.container {
	position: relative;
	padding: 1rem;
	border: 1px solid #ccc;
	border-radius: 12px;
	max-width: 400px;
	margin-bottom: 2rem;

	left: 50%;
	translate: -50% 0%;

	input {
		margin-bottom: 1rem;
	}

	button {
		padding: 8px 16px;
		cursor: pointer;
	}
}