.base {
	& {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 15px;
		width: fit-content;
		left: 50%;
		translate: -50% 0%;
		align-items: center;
		margin-bottom: 30px;

		select,
		button {
			height: 20px;
			width: fit-content;
		}
	}
}